header {
    background-color: grey;
}

body {
    background-color: lightgoldenrodyellow;
}

#empTable {
    border: 1px solid black;
    background-color: lightblue;
}

#topsection {
    position: relative;
}

#tableBody {
    border: 1px solid black;
}

